@{ string URIsegment = (Request.Url.Segments.Length > 1) ? Request.Url.Segments[Request.Url.Segments.Length - 2].Replace("/", "") : "Dashboard"; }
@{ string URIsegment1 = (Request.Url.Segments.Length > 1) ? Request.Url.Segments[Request.Url.Segments.Length - 2].Replace("/", "") : ""; }
@{ string SubURIsegment = (Request.Url.Segments.Length > 1) ? Request.Url.Segments[Request.Url.Segments.Length - 1] : ""; }
@{
    string activeLeave = "";
    string active = "m-menu__item--open m-menu__item--expanded m-menu__item--active";
    if (URIsegment == "Enquiry")
    { activeLeave = active; }
}
<div id="m_ver_menu"
     class="m-aside-menu  m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark"
     data-menu-vertical="true"
     data-menu-scrollable="false" data-menu-dropdown-timeout="500">
    <ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow ">

        <li class="m-menu__item m-menu__item--submenu" aria-haspopup="true" data-menu-submenu-toggle="hover">
            <a href="@Url.Action("Home", "Dashboard")" class="m-menu__link m-menu__toggle">
                <i class="m-menu__link-icon fa fa-home"></i>
                <span class="m-menu__link-text">
                    Dashboard
                </span>
            </a>
        </li>
        <li class="m-menu__item m-menu__item--submenu" aria-haspopup="true" data-menu-submenu-toggle="hover">
            <a href="@Url.Action("Index", "Enquiry")" class="m-menu__link m-menu__toggle">
                <i class="m-menu__link-icon flaticon-open-box"></i>
                <span class="m-menu__link-text">
                    Part Enquiry
                </span>
            </a>
        </li>
    </ul>
</div>
<style>
    .circle {
        width: 22px;
        height: 20px;
        display: table;
        border-radius: 100%;
        text-align: center;
        font-size: 12px;
        position: relative;
        background: #d44b4b;
        color: white;
        font-family: Helvetica, Arial Black, sans-serif;
        right: 20px;
    }

        .circle:before {
            content: " ";
            float: initial;
            height: 1px;
            width: 25px;
            margin: 80% 0 0;
        }

    #menuName:hover {
        background-color: #B92322;
    }
</style>
