@model EagleServicesWebApp.Models.Main.Part_Enquiry
<div class="k-edit-form-container">
    <div class="editor-label" style="display:none;"><label for="PartID">PartID</label></div>
    @*<div class="editor-field" style="display:none;"><input class="text-box single-line" data-val="true" data-val-number="The field PartID must be a number." data-val-required="The PartID field is required." id="PartID" name="PartID" type="number" value="0" data-bind="value:PartID" readonly="" style="background-color: rgb(238, 238, 238);"><span class="field-validation-valid" data-valmsg-for="PartID" data-valmsg-replace="true"></span></div>
        <div class="editor-label"style="display:none;"><label for="PartName">PartName</label></div>
        <div class="editor-field"style="display:none;"><input class="k-textbox" id="PartName" name="PartName" data-bind="value:PartName"> <span class="field-validation-valid" data-valmsg-for="PartName" data-valmsg-replace="true"></span></div>
        <div class="editor-label"style="display:none;"><label for="IsCritical">IsCritical</label></div>
        <div class="editor-field"style="display:none;"><input class="k-textbox" id="IsCritical" name="IsCritical" data-bind="value:IsCritical"> <span class="field-validation-valid" data-valmsg-for="IsCritical" data-valmsg-replace="true"></span></div>
        <div class="editor-label"style="display:none;"><label for="EPC">EPC</label></div>
        <div class="editor-field"style="display:none;"><input class="k-textbox" id="EPC" name="EPC" data-bind="value:EPC"> <span class="field-validation-valid" data-valmsg-for="EPC" data-valmsg-replace="true"></span></div>
        <div class="editor-label"style="display:none;"><label for="ModuleName">ModuleName</label></div>
        <div class="editor-field"style="display:none;"><input class="k-textbox" id="ModuleName" name="ModuleName" data-bind="value:ModuleName"> <span class="field-validation-valid" data-valmsg-for="ModuleName" data-valmsg-replace="true"></span></div>
        <div class="editor-label"style="display:none;"><label for="EngineName">EngineName</label></div>
        <div class="editor-field"style="display:none;"><input class="k-textbox" id="EngineName" name="EngineName" data-bind="value:EngineName"> <span class="field-validation-valid" data-valmsg-for="EngineName" data-valmsg-replace="true"></span></div>
        <div class="editor-label"style="display:none;"><label for="InspectionStatusName">InspectionStatusName</label></div>
        <div class="editor-field"style="display:none;"><input class="k-textbox" id="InspectionStatusName" name="InspectionStatusName" data-bind="value:InspectionStatusName"> <span class="field-validation-valid" data-valmsg-for="InspectionStatusName" data-valmsg-replace="true"></span></div>
        <div class="editor-label"style="display:none;"><label for="ProcessStatusName">ProcessStatusName</label></div>
        <div class="editor-field"style="display:none;"><input class="k-textbox" id="ProcessStatusName" name="ProcessStatusName" data-bind="value:ProcessStatusName"> <span class="field-validation-valid" data-valmsg-for="ProcessStatusName" data-valmsg-replace="true"></span></div>
        <div class="editor-label"style="display:none;"><label for="TrolleyName">TrolleyName</label></div>
        <div class="editor-field"style="display:none;"><input class="k-textbox" id="TrolleyName" name="TrolleyName" data-bind="value:TrolleyName"> <span class="field-validation-valid" data-valmsg-for="TrolleyName" data-valmsg-replace="true"></span></div>
        <div class="editor-label"style="display:none;"><label for="TrolleyEPC">TrolleyEPC</label></div>
        <div class="editor-field"style="display:none;"><input class="k-textbox" id="TrolleyEPC" name="TrolleyEPC" data-bind="value:TrolleyEPC"> <span class="field-validation-valid" data-valmsg-for="TrolleyEPC" data-valmsg-replace="true"></span></div>
        <div class="editor-label"style="display:none;"><label for="InspectionStatusID">InspectionStatusID</label></div>
        <div class="editor-field"style="display:none;"><input class="k-textbox" data-val="true" data-val-number="The field InspectionStatusID must be a number." id="InspectionStatusID" name="InspectionStatusID" data-bind="value:InspectionStatusID"> <span class="field-validation-valid" data-valmsg-for="InspectionStatusID" data-valmsg-replace="true"></span></div>
        <div class="editor-label"style="display:none;"><label for="StorageLocation">StorageLocation</label></div>
        <div class="editor-field"style="display:none;"><input class="k-textbox" id="StorageLocation" name="StorageLocation" data-bind="value:StorageLocation"> <span class="field-validation-valid" data-valmsg-for="StorageLocation" data-valmsg-replace="true"></span></div>*@
    <div class="editor-label"><label for="ExternalVendorName">External Vendor/Supplier Name</label></div>
    <div class="editor-field"><input class="k-textbox" style="width: 100%;" id="ExternalVendorName" name="ExternalVendorName" data-bind="value:ExternalVendorName"> <span class="field-validation-valid" data-valmsg-for="ExternalVendorName" data-valmsg-replace="true"></span></div>
    <div class="editor-label"><label for="ExpectedArrivalDate">Expected Arrival/Return Date</label></div>
    <div class="editor-field"><input class="form-control m-input KendoDatePicker" type="search" value="" id="ExpectedArrivalDate" name="ExpectedArrivalDate" data-bind="value:ExpectedArrivalDate" style="width: 100%;"> <span class="field-validation-valid" data-valmsg-for="ExpectedArrivalDate" data-valmsg-replace="true"></span></div>
    @*<div class="editor-label"><label for="ExpectedArrivalDateValue">ExpectedArrivalDateValue</label></div><div class="editor-field"><input class="k-textbox" id="ExpectedArrivalDateValue" name="ExpectedArrivalDateValue" data-bind="value:ExpectedArrivalDateValue"> <span class="field-validation-valid" data-valmsg-for="ExpectedArrivalDateValue" data-valmsg-replace="true"></span></div><div class="k-edit-buttons k-state-default"><a role="button" class="k-button k-button-icontext k-primary k-grid-update" href="#"><span class="k-icon k-i-check"></span>Update</a><a role="button" class="k-button k-button-icontext k-grid-cancel" href="#"><span class="k-icon k-i-cancel"></span>Cancel</a></div>*@
</div>
<script>
    $("#ExpectedArrivalDate").kendoDatePicker({ format: "yyyy-MM-dd" });
</script>